# Ignore everything in the modules directory
/modules/*

# Except the translation directory
!/modules/translation/

# Ignore everything in the translation directory
/modules/translation/*

# Except the hf_translation.py file
!/modules/translation/hf_translation.py

# Ignore everything in the tests directory
/tests/*

# Except the TestTranslate.py file
!/tests/TestTranslate.py

# Ignore the .env file
.env
